connexion >= 2.6.0; python_version>="3.6"
connexion >= 2.3.0; python_version=="3.5"
connexion >= 2.3.0; python_version=="3.4"
connexion == 2.4.0; python_version<="2.7"
swagger-ui-bundle
python_dateutil
setuptools
gitpython
sqlalchemy
marshmallow
pyyaml
Flask
requests
six
# Only needed for local execution
docker
opera
straight.plugin

