connexion >= 2.7.0; python_version>="3.6"
connexion >= 2.3.0; python_version=="3.5"
connexion >= 2.3.0; python_version=="3.4"
connexion == 2.4.0; python_version<="2.7"
swagger-ui-bundle == 0.0.8
python_dateutil == 2.8.1
setuptools == 51.1.2
gitpython == 3.1.12
sqlalchemy == 1.3.22
marshmallow == 3.10.0
pyyaml == 5.3.1
Flask == 1.1.2
requests ==2.25.1
rfc3987 == 1.3.8
six == 1.15.0

# Only needed for local execution
docker == 4.4.1
opera >= 0.6.2
straight.plugin == 1.5.0
waitress == 1.4.4

# AWS CLI
awscli >= 1.18.169

# Google Cloud
apache-libcloud >= 3.2.0

# Azure
azure-mgmt-compute >= 17.0.0
azure-mgmt-storage >= 16.0.0
azure-mgmt-resource >= 15.0.0
azure-keyvault-secrets >= 4.2.0
azure-storage-blob >= 12.5.0

